<div class="container">

    <center>

        <img src="~/images/janela-de-conversa.png" alt="Fale Conosco" width="150" />
        <div class="jumbotron">

            <h3>Queremos ouvir oque você tem a dizer.</h3>

            <br />

            <p>Se você tem alguma duvida fale conosco</p>

        </div>

        <br />

        <p>
            <table width="800">
                <tr>
                    <td class="text-center">

                        <span><img src="/images/marketing-de-email.png" width="70" /></span>

                        <p><h5 class="text-center"><email endereco="israel094@hotmail.com" conteudo="Enviar um Email"></email> </h5></p>

                    </td>


                    <td class="text-center">

                        <span><img src="/images/telefone.png" width="70" /></span>

                        <p><h5>(71) 98140-3524</h5></p>

                    </td>

                    
                    <td class="text-center">

                        <span><img src="/images/casa.png" width="70" /></span>

                        <p><h5>Camaçari Ba </h5></p>

                    </td>
                </tr>

            </table>
            
        </p>

    </center>

</div>